body{
    background-color:#F2F2F2;
    
}

header{
    background-image: url(../images/bbc_news_120x60.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 0;
    margin-left: 12%;
    margin-right: 12%;
    padding: 10px;
}

h1{
    padding-left: 130px;
    color: #565659;
    font-family: sans-serif;
}

article{
    margin-bottom: 4%;
    margin-top:3%;
    background-color:#FFFFFF;
    padding: 10px;
    font-family: arial;
}

article p{
    font-family: 'Times New Roman', Times, serif;
}

article a:link,
article a:visited,
article a:active{
    color:#BD1110;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
    
}

article a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #BD1110;
    
}

main,footer{
    padding:.4rem;
    margin: .8rem 10%;

}

footer a:link,
footer a:visited,
footer a:active{
    font-family: monospace;
    color: #000000;
}

p.time{
    font-style: italic;
    font-size: .8rem;
}
hr{
    width: 80%;
}