body{
    background-color:#F2F2F2;
    
}

header{
    background-image: url(../images/bbc_news_120x60.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 0;
    margin-left: 12%;
    margin-right: 12%;
    padding: 10px;
}

h1{
    padding-left: 130px;
    color: #565659;
    font-family: sans-serif;
}

h2{
    color:#BD1110;
    font-weight: 500;
}

main,footer{
    padding:.4rem;
    margin: .8rem 10%;

}

article{
    margin-bottom: 4%;
    margin-top:3%
}

.box{
    background-color:#FFFFFF;
    padding: 10px;
}

hr{
    width: 80%;
}